body {
	background: linear-gradient(135deg, #FF5E62 0%, #F96 100%);
	font-family: 'Lato', sans-serif;
	height: 100vh;
}

#avatar {
	background-image: url('/images/avatar.jpg');
	height: 120px;
	margin: -60px auto 20px auto;
	width: 120px;
}

#botIntro {
	font-weight: 300;
	width: 70%;
}

#botLogo {
	background-image: url('/images/logo-bot.svg');
	height: 2.5rem;
	width: 2.5rem;
}

#contentBox {
	background-color: #FFF;
	border-color: #FFF;
	height: 80%;
	text-align: center;
}

#head h1 {
	font-size: 1.3rem;
	font-weight: normal;
}

#head h2 {
	font-size: 1.2rem;
	font-weight: 300;
}

#socialLinks a {
	color: #808080;
}

#socialLinks a:hover {
	color: #FF5E62;
}

#chat {
	height: 100%;
}

#chat .lwc-chat-frame {
	animation: none;
	box-shadow: none;
	height: 100%;
	position: static;
	width: 100%;
}

@media (max-height: 40em) {
	#avatar {
		display: none;
	}

	#botLogo {
		background-image: url('/images/logo-bot-white.svg');
	}

	#chat {
		background-color: #FFF;
		border: solid 1px #FFF;
		border-radius: 3px;
		padding: 0.5rem;
	}

	#contentBox {
		background-color: transparent;
		border: 0;
		color: #FFF;
		height: 97vh;
	}

	#socialLinks a {
		color: #FFF;
	}

	#socialLinks a:hover {
		color: #00AFF0;
	}
}