@import url('https://fonts.googleapis.com/css?family=Lato');

.conversation, .dragAndDropContainer {
	border-radius: 0;
}

.skype-conversation, .swc-chat textarea {
	font-family: 'Lato', sans-serif;
}

.lwx-message.button {
	height: 32px !important;
}

.swc .swift .card .section .textContent h1 {
	font-size: 14px;
	font-weight: normal;
}